body {
    background-color: rgb(40, 80, 211);
    font: normal 14pt Arial;
}

p {
    font-size: 14pt;
    color: black;
    font-style: normal;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-indent: 20px;
}

h1 {
    color: black;
    font-weight: normal;
    font-size: 20pt;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    margin-left: 20px;
    margin-right: 25px;
}

h2 {
    color: black;
    font-weight: normal;
    font-size: 16pt;
    margin-left: 20px;
    margin-right: 25px;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: upper-roman;
}

h3 {
    text-align: right;
    text-decoration: none;
    font-weight: normal;
    font-size: 10pt;
}

.texto_01 {
    color: black;
    font-weight: normal;
    font-size: 14pt;
}

#imagem_01 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#imagem_02 {
    margin-right: 5px;
    width: 50px;
    height: 40px;
}

.link_01:link {
    text-decoration: black;
    text-decoration-color: black;
}

.link_01:hover {
    text-decoration: solid;
    text-decoration-color: black;
    background-color: yellow;
}

.boxstyle_01 {
    width: 99;
    height: 99%;
    border-radius: 10px;
    background-color: white;
    background-image: url(https://kenzie.com.br/images/logoblue.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-spacing: 3px;
    padding: 3px;
    margin: 20px;
}